.page > .content,
.container {
  max-width: 956px;
  margin-left: auto;
  margin-right: auto;
  clear: both; }
  .page > .content:after,
  .container:after {
    content: " ";
    display: block;
    clear: both; }

body.sidebar-first .main {
  width: 78.55649%;
  float: right;
  margin-right: 0; }

body.sidebar-first .sidebar-first {
  width: 18.51464%;
  float: left;
  margin-right: 2.92887%; }

body.sidebar-second .main {
  width: 74.26778%;
  float: left;
  margin-right: 2.92887%; }

body.sidebar-second .sidebar-second {
  width: 22.80335%;
  float: right;
  margin-right: 0; }

body.two-sidebars .main {
  width: 48.53556%;
  float: left;
  margin-left: 25.73222%;
  margin-right: -100%; }

body.two-sidebars .sidebar-first {
  width: 22.80335%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }

body.two-sidebars .sidebar-second {
  width: 22.80335%;
  float: right;
  margin-right: 0; }

@media (max-width: 1024px) {
  /*body {
    &.two-sidebars {
      .main {
        @include span(isolate 9.2 at 3.7 last);
      }
      .sidebar-first {
        @include span(isolate 2.8);
      }
      .sidebar-second {
        @include span(12);
      }
    }
  }*/ }

@media (max-width: 768px) {
  body.sidebar-first .main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  body.sidebar-first .sidebar-first {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  body.sidebar-second .main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  body.sidebar-second .sidebar-second {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  body.two-sidebars .main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  body.two-sidebars .sidebar-first {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  body.two-sidebars .sidebar-second {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }

/* Headers */
html {
  font-size: 62.5%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1 {
  font-size: 26px;
  margin: 0.3em 0 0.67em; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4em; }

img {
  max-width: 100%;
  height: auto; }

ul {
  padding-left: 0;
  list-style-position: inside; }

pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; }

/* Tables */
table {
  margin: 1.5em 0;
  width: 100%;
  border-collapse: collapse; }
  table td {
    border: 1px solid #ccc; }

.table--clear th,
.table--clear tbody,
.table--clear td {
  border-right: none;
  border-left: none; }

.table--transparent {
  border: none; }
  .table--transparent th,
  .table--transparent tbody,
  .table--transparent td {
    border: none; }

.block-system.block-main-menu .menu {
  text-align: left; }
  .block-system.block-main-menu .menu li {
    display: inline-block;
    list-style: none; }

a {
  text-decoration: none;
  word-wrap: break-word; }
  a:hover, a:focus {
    text-decoration: underline; }

.page-title {
  margin: 0; }

ul.links {
  margin: 0;
  padding: 0; }
  ul.links.inline {
    display: block; }
  ul.links li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0; }

ul.menu {
  padding-left: 15px; }
  ul.menu ul {
    padding-left: 15px; }

ul.pager {
  clear: both;
  margin: 0;
  text-align: center; }

.item-list ul.pager li {
  margin: 0; }

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em; }
  ul.pager li.pager-current {
    font-weight: 700; }

.page > .content {
  padding-top: 10px;
  padding-bottom: 50px; }

.name-and-slogan {
  float: left; }

.field-name-field-product-images .item-list ul li {
  margin: 0; }

.node-product.ds-2col-stacked-fluid > .group-header {
  padding-bottom: 5px; }

.node-product.ds-2col-stacked-fluid > .group-left {
  width: 52%; }

.node-product.ds-2col-stacked-fluid > .group-right {
  width: 46%; }

.node-product .field-name-field-product-price {
  color: #d9230f;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.5em 0; }

.node-product .field-name-field-product-addition-specifics p {
  margin: 0; }

.pz-lightslider-slider {
  list-style: none; }
  .pz-lightslider-slider li {
    list-style: none; }

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.9); }

.views-see-also .views-title {
  margin: 0.5em 0; }

.views-see-also .views-price {
  color: #d9230f;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center; }

.file-image img {
  display: block; }

.google-cse {
  float: right; }

.views-products-gallery-list .view-content > div {
  float: left;
  padding-right: 3px;
  padding-bottom: 3px;
  width: 24%; }

.views-product-first-image-big {
  margin-bottom: 10px; }
  .views-product-first-image-big img {
    margin: 0 auto; }

.node-product.node-teaser.ds-2col-stacked-fluid > .group-left {
  width: 30%; }

.node-product.node-teaser.ds-2col-stacked-fluid > .group-right {
  width: 70%; }

.node-product-image .field-name-field-product-image img {
  margin: 0 auto; }

.field-name-body {
  word-wrap: break-word; }

@media (max-width: 556px) {
  ul.primary.tabs li {
    display: block;
    padding: 5px 0; }
  .logo {
    float: none; }
    .logo img {
      display: block;
      margin: 0 auto; }
  .block-search {
    float: none;
    margin: 10px auto;
    max-width: 210px; } }
