// @include layout(12 (60px 40px) fluid);
@include layout(12 (54px 28px) fluid);

.page > .content,
.container {
  @include container;
  clear: both;
}

body {
  &.sidebar-first {
    .main {
      @include span(9.5 last);
    }
    .sidebar-first {
      @include span(2.5);
    }
  }

  &.sidebar-second {
    .main {
      @include span(9);
    }
    .sidebar-second {
      @include span(3 last);
    }
  }

  &.two-sidebars {
    .main {
      @include span(isolate 6 at 4);
    }
    .sidebar-first {
      @include span(isolate 3 at 1);
    }
    .sidebar-second {
      @include span(3 last);
    }
  }
}

@media (max-width: 1024px) {
  /*body {
    &.two-sidebars {
      .main {
        @include span(isolate 9.2 at 3.7 last);
      }
      .sidebar-first {
        @include span(isolate 2.8);
      }
      .sidebar-second {
        @include span(12);
      }
    }
  }*/

}

@media (max-width: 768px) {
  body {
    &.sidebar-first {
      .main {
        @include span(12);
      }
      .sidebar-first {
        @include span(12);
      }
    }

    &.sidebar-second {
      .main {
        @include span(12);
      }
      .sidebar-second {
        @include span(12);
      }
    }
    &.two-sidebars {
      .main {
        @include span(12);
      }
      .sidebar-first {
        @include span(12);
      }
      .sidebar-second {
        @include span(12);
      }
    }
  }
}

@media (max-width: 556px) {}
