.block-system.block-main-menu {
  .menu {
    text-align: left;
    li {
      display: inline-block;
      list-style: none;
    }
  }
}

a {
  text-decoration: none;
  word-wrap: break-word;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.page-title {
  margin: 0;
}

ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

ul.menu {
  padding-left: 15px;

  ul {
    padding-left: 15px;
  }
}

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}


.item-list ul.pager li {
  margin: 0;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}

.page > .content {
  padding-top: 10px;
  padding-bottom: 50px;
}

.name-and-slogan {
  float: left;
}

.field-name- {
  &field-product-images {
    .item-list {
      ul {
        li {
          margin: 0;
        }
      }
    }
  }
}

.node-product {
  &.ds-2col-stacked-fluid {
    > .group-header {
      padding-bottom: 5px;
    }
    > .group-left {
      width: 52%;
    }
    > .group-right {
      width: 46%;
    }
  }
  .field-name- {
    &field-product-price {
      color: #d9230f;
      font-size: 1.3em;
      font-weight: bold;
      padding: 0.5em 0;
    }
    &field-product-addition-specifics {
      p {
        margin: 0;
      }
    }
  }
}

.pz-lightslider-slider {
  list-style: none;
  li {
    list-style: none;
  }
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.views-see-also {
  .views-title {
    margin: 0.5em 0;
  }
  .views-price {
    color: #d9230f;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
  }
}

.file-image {
  img {
    display: block;
  }
}

.google-cse {
  float: right;
}

.views-products-gallery-list {
  .view-content {
    > div {
      float: left;
      padding-right: 3px;
      padding-bottom: 3px;
      width: 24%;
    }
  }
}

.views-product-first-image-big {
  margin-bottom: 10px;
  img {
    margin: 0 auto;
  }
}

.node-product {
  &.node-teaser {
    &.ds-2col-stacked-fluid {
      > .group-left {
        width: 30%;
      }
      > .group-right {
        width: 70%;
      }
    }
  }
}

.node-product-image {
  .field-name-field-product-image {
    img {
      margin: 0 auto;
    }
  }
}

.field-name-body {
  word-wrap: break-word;
}
