@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 556px) {
  ul.primary.tabs {
    li {
      display: block;
      padding: 5px 0;
    }
  }

  .logo {
    float: none;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .block-search {
    float: none;
    margin: 10px auto;
    max-width: 210px;
  }

}
