/* Headers */

html {
  font-size: 62.5%;
}

body {
  font-family: $sans-serif-arial-helvetica;
  font-size: 14px;
  line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 {
  font-size: 26px;
  margin: 0.3em 0 0.67em;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4em;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}

/* Tables */

table {
  margin: 1.5em 0;
  width: 100%;
  border-collapse: collapse;
  td {
    border: 1px solid #ccc;
  }
}

.table--clear {
  th,
  tbody,
  td {
    border-right: none;
    border-left: none;
  }
}

.table--transparent {
  border: none;
  th,
  tbody,
  td {
    border: none;
  }
}

